/* index.css */

/* 1. Kényszerítjük a dobozmodellt minden elemen */
* {
  box-sizing: border-box !important;
}

/* 2. A legfontosabb: Tiltjuk a vízszintes csúszkát a legfelsőbb szinteken */
html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  /* Windows fúvókás görgetősáv fix */
  width: 100vw !important;
  position: relative;
}

/* 3. A MUI Dialog gyakran ad a body-nak egy 'padding-right' értéket, ami kitolja az oldalt. Ezt lenullázzuk. */
body[style] {
  padding-right: 0px !important;
}

/* 4. A React Root elem se lógjon ki */
#root {
  width: 100% !important;
  overflow-x: hidden !important;
}